.recipeVew {
    width: 80%;
    margin: 3rem auto;
}

.recipeVew .recipeVewSect {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-image:
        repeating-linear-gradient(0deg, #a0cfa0, #a0cfa0 2px, transparent 2px, transparent 50px),
        repeating-linear-gradient(90deg, #a0cfa0, #a0cfa0 2px, transparent 2px, transparent 50px);
    margin: 2rem 0;
}

.recipeVew .recipeVewSect img {
    max-width: 300px;
    width: 100%;
    filter: drop-shadow(0px 0px 5px gray);
}

.recipeVew .recipeVewSect .recipeVewSectDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 100%;
}

.recipeVew .recipeVewSect .recipeVewSectDiv h2 {
    font-size: 2rem;
    color: var(--colorRR);
}

/* Preparations */

.recipeVew .recipeVewPrep {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 2rem;
}

.recipeVew .recipeVewPrep .recipeVewPrepIng {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(220, 220, 220, 0.658);
    padding: 12px;
    width: 30%;
}

.recipeVew .recipeVewPrep .recipeVewPrepIng h3,
.recipeVew .recipeVewPrep .recipeVewPrepIns h3 {
    color: var(--colorA);
}

.recipeVew .recipeVewPrep .recipeVewPrepIns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2;
    width: 70%;
    background-color: rgba(220, 220, 220, 0.658);
    padding: 12px;
}

@media (max-width: 767px) {

    .recipeVew {
        width: 90%;
    }

    .recipeVew .recipeVewSect {
        justify-content: center;
        gap: 1rem;
    }

    .recipeVew .recipeVewSect .recipeVewSectDiv {
        text-align: center;
    }

    .recipeVew .recipeVewSect .recipeVewSectDiv h2 {
        text-align: center;
    }

    .recipeVew .recipeVewSect .recipeVewSectDiv .recipeVewSectDivDescr {
        width: 100%;
    }

    /* preparations */

    .recipeVew .recipeVewPrep {
        padding: 0;
        flex-direction: column;
    }

    .recipeVew .recipeVewPrep .recipeVewPrepIng {
        width: 100%;
    }

    .recipeVew .recipeVewPrep .recipeVewPrepIns {
        width: 100%;
    }
}