@import '../../../style/colors.css';

.cloudFile {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 18px;
    cursor: pointer;
    background-color: gainsboro;
    border: solid 1px var(--colorA);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloudUploadIcon {
    width: 70px;
    height: 70px;
    color: var(--colorA);
}

.imgFile {
    height: 180px;
}

.thumbnail {
    width: 50px;
}

.cfRect {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.cfCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.cfTicket {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 374px) {
    .cfRect {
        width: 200px;
    }
}