.userForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.userForm div {
    display: flex;
    flex-direction: column;
}

.userForm div label {
    font-size: 12px;
    color: gray;
}

.userForm div input {
    width: 100%;
}