.bonnusFriends {
    margin-top: 6rem;
    width: 100%;
}

.bonnusFriends h3 {
    color: var(--colorRR);
    text-align: center;
    margin-top: 4rem;
}

.bonnusFriends .bonnusFriendsPc {
    display: block;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px gray;
    border-radius: 8px;
}

.bonnusFriends .bonnusFriendsCel {
    display: none;
    width: 100%;
    box-shadow: 0px 0px 5px gray;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
}

.bonnusFriends p {
    text-align: center;
    padding-top: 1rem;
    color: var(--colorB);
    width: 90%;
    margin: auto;
}

@media (max-width: 767px) {

    .bonnusFriends {
        margin-top: 4rem;
    }

    .bonnusFriends .bonnusFriendsPc {
        display: none;
    }

    .bonnusFriends .bonnusFriendsCel {
        display: flex;
    }
}