:root {
    --colorA: #2C5469;
    --colorB: #234352;
    --colorC: #D9D9D9;
    --colorD: #FFFFFF;
    --colorE: #324C5B;
    --colorF: #F5F7FA;

    --colorAA: #234352;
    --colorAAA: #40a6d93f;

    --colorBB: #fa5d44;
    --colorXX: #F4B942;
    --colorRR: #ff230f;
}