@import './colors.css';

/* Inputs */

input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px var(--colorC);
    padding-left: 5px;
}

input:hover {
    border: solid 1px var(--colorE);
}

input:focus {
    border: solid 1px var(--colorA);
}

/* Select */

select {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px var(--colorC);
    padding-left: 5px;
}

select:hover {
    border: solid 1px var(--colorE);
}

select:focus {
    border: solid 1px var(--colorA);
}

/* TextArea */

textarea {
    width: 100%;
    border-radius: 6px;
    border: solid 1px rgba(128, 128, 128, 0);
    padding: 5px;
    resize: none;
}

textarea:hover {
    border: solid 1px black;
}

textarea:focus {
    border: solid 1px #007acc;
}