.prodQuery {
    margin-top: 70px;
    min-height: 90vh;
    padding-bottom: 4rem;
}

.prodQuery h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.prodQuery .prodQuerySect {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;   
    gap: 1.5rem;
    margin: auto;
    padding-bottom: 4rem;
    justify-content: center;
}