.recipePage {
    margin-top: 70px;
    min-height: 80vh;
    padding-bottom: 3rem;
}

.recipePage .recipePagePc {
    width: 100%;
}

.recipePage .recipePageCel {
    width: 100%;
    display: none;
}

.recipePage .recipePageImg {
    display: block;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    color: var(--colorA);
    font-weight: 600;
    transition: .3s ease-in-out;
    font-size: 1.6rem;
}

.recipePage .recipePageImg:hover {
    color: var(--colorB);
} 

@media (max-width: 767px) {

    .recipePage .recipePagePc {
        display: none;
    }

    .recipePage .recipePageCel {
        display: block;
    }
}