.imgHover {
    position: relative;
}

.imgHover img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.imgHover-cont {
    display: none;
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.imgHover-cont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgHover:hover .imgHover-cont {
    display: block;
}